.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.app-bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  background-image: radial-gradient(circle, transparent 100%),
    radial-gradient(circle at 25% 25%, transparent 100%),
    radial-gradient(
      circle,
      rgba(var(--text-tertiary), 0.7) 0.8px,
      transparent 1px
    );
  background-size: 24px 24px;
  background-position: 0% 0%, 100% 100%, 0 0;
  pointer-events: none;
}

[data-theme="dark"] .app-bg {
  background-image: radial-gradient(circle, transparent 100%),
    radial-gradient(circle at 25% 25%, transparent 100%),
    radial-gradient(
      circle,
      rgba(var(--text-tertiary), 0.5) 0.8px,
      transparent 1px
    );
}

.app > *:not(.app-bg) {
  position: relative;
  z-index: 1;
}

.app > header {
  z-index: 100 !important;
}
